[core]
    # Convert CRLF to LF on commit but not the other way around
    autocrlf = input
    # Improve performance: https://news.ycombinator.com/item?id=11388479
    untrackedCache = true
[color]
    ui = auto
    interactive = auto
[diff]
    tool = meld
    # Git will detect copies, as well.
    renames = copies
[difftool "meld"]
    path = /usr/bin/meld
[difftool]
    prompt = false
[merge]
    tool = meld
    conflictstyle = diff3
[mergetool "meld"]
    path = /usr/bin/meld
[mergetool]
    prompt = false
[push]
    # https://git-scm.com/docs/git-config#git-config-pushdefault
    default = simple
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true
[fetch]
    # Before fetching, remove any remote-tracking references that no longer exist on the remote. 
    prune = true
[pull]
    # Force a rebase on pull to avoid merge in the history
    rebase = true
[rebase]
    # Good practice to squash your commit when rebasing a feature (cleanup)
    autosquash = true
[help]
    autocorrect = 1
[grep]
    lineNumber = true
[include]
    # Contains my user settings (username, email, github account)
    path = .gitconfig.user
